@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "partials/globals";
@import "partials/forms";
@import "partials/home-carousel";
@import "partials/home-top-section";
@import "partials/nav";
@import "partials/docs";
@import "partials/docs_code";
@import "partials/docs_cli";
@import "partials/toastr";
@import "partials/error_container";
@import "fontawesome/font-awesome";
@import "partials/modal-messages";
@import "animate-sass/animate";

$dropdown-divider-bg: #181c35 !important;

body {
  background-color: white;
}

h2{
  margin: 0;
  color: #666;
  padding-top: 90px;
  font-size: 52px;
  font-family: "trebuchet ms", sans-serif;
}

.page-header{
  display: block;
  margin-top: 60px;
  margin-bottom: 0;
  margin-left: 25px;
  font-family: fantasy;
  font-size: 16px;
}