.colour-red {
  color: red;
}

.colour-blue {
  color: blue;
}

.colour-lime {
  color: lime;
}

.colour-orange {
  color: orange;
}

.colour-white {
  color: white;
}

.colour-brown {
  color: brown;
}

.colour-saddlebrown {
  color: saddlebrown;
}

.colour-deeppink {
  color: deeppink;
}