@import "mixins";

.logo {
  // Best way to move an image vertically up.
  position: relative;
  top: -7px;
}
.top-wrapper {
  display: block;
}

.topbar-content {
  @include vertical-align;
}

.topbar {
  color: white;
  background-color: #1e2d83;
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: medium;
  font-family: "source_sans", "Lucida Grande", "Lucida Sans", sans-serif ;
}

.panel-body > .row {
  margin-bottom: 20px;
}



/*
 * Navigation custom rules.
 * Also see this site for bootstrap changes:
 * http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3
 */

.navbar {
  @include no-rounded-corners;
  padding-left: 20px;
  padding-right: 50px;
}

.navbar-brand {
  width: 300px;
}

.carousel-control.right, .carousel-control.left {
  background-image:none;
}

.main-content {
  width: 100%;
  padding: 0 50px;
  margin-top: 60px;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer-nav {
  //position: absolute;
  //bottom: 0;
  padding: 20px;
  width: 100%;
  color: lime;
  margin-top: 20px;
 }